# IDE Files
.idea/
.vscode/
*.iml

# Backend Compiled Files
Back-End/target/
Back-End/*.jar

# Frontend Dependencies & Build
Front-End/node_modules/
Front-End/dist/
Front-End/.env

# Uploads
Back-End/uploads/

# OS Files
.DS_Store