# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Production Build output
dist
dist-ssr

# Environment variables (CRITICAL)
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store